.login-body{
    background-image: url("/assets/login_background.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
}
.login-form-group{
    margin: 10px auto!important;
}
.login-tip{
    margin: 0 auto!important;
}
.login-form{
    border: solid 3px #e3e4e5 ;
    padding: 30px 15px;
    margin: 140px auto;
}
.login-button{
    margin: 28px auto!important;
}
.info{
    visibility: hidden;
    color: #8a6d3b;
}
/*.container-fluid{*/
/*    min-height: 900px !important;*/
/*}*/
/*.page_body{*/
/*    height: 80%;*/
/*}*/