<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录 - 教务系统</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/login.js"></script>
    <link href="css/login.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    提示
                </h4>
            </div>
            <div class="modal-body">
                <p>提示内容</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script src="js/message.inc.js"></script>

<script src="js/api/index.js"></script>
<script src="js/api/users.js"></script>

<div class="container-fluid login-body">
    <div class="row">
        <div class="col-md-7"></div>
        <div class="col-md-3">
            <form class="form-horizontal login-form" role="form">
                <div class="form-group login-form-group">
                    <label for="inputUsername" class="col-sm-3 control-label">username</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputUsername" name="username" placeholder="请输入用户名">
                    </div>
                </div>
                <div class="form-group login-tip login-form-group">
                    <span class="col-sm-6 info" id="name_info">用户名不能为空</span>
                </div>
                <div class="form-group login-form-group">
                    <label for="inputPassword" class="col-sm-3 control-label">password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputPassword" name="pwd" placeholder="请输入密码">
                    </div>
                </div>
                <div class="form-group login-tip login-form-group">
                    <span class="col-sm-6 info" id="pwd_info">密码不能为空</span>
                </div>
                <div class="form-group login-button login-form-group">
                    <div class="col-sm-12">
                        <button type="button" id="login-btn" class="btn btn-primary btn-block">登录</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
</body>
</html>