<script src="js/utils.js"></script>
<script src="js/router/instructor.router.js"></script>
<div class="container  instructor-container" style="display: none">>
    <div class="row">
        <div class="panel-group w-95">
            <div class="panel panel-primary">
                <div class="panel panel-body">
                    <table class="table table-bordered table-hover table-check text-center">
                        <thead>
                        <tr class="success">
                            <th>课程编号</th>
                            <th>课程名</th>
                            <th>上课时间</th>
                            <th>教室</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>ATMO130001.01</td>
                            <td>大气动力学基础</td>
                            <td>星期二 4-5</td>
                            <td>JA306</td>
                            <td>
                                <a href="javascript:void(0)" class="selection hover-underline">成绩录入</a>
                                <a href="javascript:void(0)" class="selection hover-underline">课程名单</a>
                            </td>
                        </tr>
                        <tr>
                            <td>ATMO130001.01</td>
                            <td>大气动力学基础</td>
                            <td>星期二 4-5</td>
                            <td>JA306</td>
                            <td>
                                <a href="javascript:void(0)" class="selection hover-underline">成绩录入</a>
                                <a href="javascript:void(0)" class="selection hover-underline">课程名单</a>
                            </td>
                        </tr>
                        <tr>
                            <td>ATMO130001.01</td>
                            <td>大气动力学基础</td>
                            <td>星期二 4-5</td>
                            <td>JA306</td>
                            <td>
                                <a href="javascript:void(0)" class="selection hover-underline">成绩录入</a>
                                <a href="javascript:void(0)" class="selection hover-underline">课程名单</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- end of panel -->
        </div>

        <script>
            $(function(){

            });
        </script>
    </div>
</div>