.table-bordered-l th{
    border: 1px solid #63862be0!important;
    text-align: center;
    padding: 1.8px 1.8px;
}
.table-bordered-l td{
    border: 1px solid #63862be0;
    text-align: center;
    height: 20px;
    font-size: smaller;
}
.bgc-blue{
    background-color: #98d4f7;
}
.tip{
    width: 8%;
}
.w-80{
    width: 80%;
    margin: auto auto;
}
.w-95{
    width: 95%;
    margin: auto auto;
}
.w-90{
    width: 90%;
    margin: auto auto;
}
.table-bordered-l{
    margin: 20px auto;
}
.ml-20{
    margin-left: 20px;
}
.divider{
    height: 1px;
    width: 100%;
    border-bottom: 1px dashed black;
}
.hover-underline:hover{
    text-decoration: underline;
    font-weight: bolder;
}
