.table-bordered-l th{
    border: 1px solid #63862be0!important;
    text-align: center;
    padding: 1.8px 1.8px;
}
.table-bordered-l td{
    border: 1px solid #63862be0;
    text-align: center;
}
.tip{
    width: 8%;
}
.w-95{
    width: 95%;
    margin: auto auto;
}
.w-80{
    width: 80%;
    margin: auto auto;
}
.w-90{
    width: 90%;
    margin: auto auto;
}
.table-bordered-l{
    margin: 20px auto;
}
.divBorder{
    border: solid 1px rgba(12,24,255,0.15);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 3px;
    border-radius: 5px;
}
.left20{
    margin-left: 15px;
}