<script src="js/utils.js"></script>
<script src="js/router/student.router.js"></script>
<div class="container student-container" style="display: none">
    <link rel="stylesheet" href="css/courseTable.css">
    <div class="row">
        <table class="table-bordered-l text-center w-95">
            <thead>
            <tr>
                <th class="tip">周次/节次</th>
                <th class="day">星期日</th>
                <th class="day">星期一</th>
                <th class="day">星期二</th>
                <th class="day">星期三</th>
                <th class="day">星期四</th>
                <th class="day">星期五</th>
                <th class="day">星期六</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="tip">第一节</th>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                </tr>
                <tr>
                    <th class="tip">第一节</th>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                </tr>
                <tr>
                    <th class="tip">第二节</th>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                </tr>
                <tr>
                    <th class="tip">第三节</th>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                </tr>
                <tr>
                    <th class="tip">第四节</th>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                </tr>
                <tr>
                    <th class="tip">第五节</th>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                </tr>
                <tr>
                    <th class="tip">第六节</th>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                </tr>
                <tr>
                    <th class="tip">第七节</th>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                </tr>
                <tr>
                    <th class="tip">第八节</th>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                </tr>
                <tr>
                    <th class="tip">第九节</th>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                </tr>
                <tr>
                    <th class="tip">第十节</th>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                </tr>
                <tr>
                    <th class="tip">第十一节</th>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                </tr>
                <tr>
                    <th class="tip">第十二节</th>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                </tr>
                <tr>
                    <th class="tip">第十三节</th>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                </tr>
                <tr>
                    <th class="tip">第十四节</th>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                    <td class="time_slot"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="panel panel-primary w-95">
            <div class="panel-body">
               <table class="table table-bordered table-hover table-check text-center">
                        <thead>
                        <tr class="success">
                            <th>课程编号</th>
                            <th>课程名</th>
                            <th>任课教师</th>
                            <th>上课时间</th>
                            <th>开课院系</th>
                            <th>教室</th>
                            <th>课程考核</th>
                            <th>学分</th>
                        </tr>
                        </thead>
                        <tbody id="courses_body">
                        <tr>
                            <td>ATMO130001.01</td>
                            <td>大气动力学基础</td>
                            <td>吴志伟</td>
                            <td>星期二 4-5</td>
                            <td>大气与海洋科学系</td>
                            <td>JA306</td>
                            <td>论文 星期五[18]</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>ATMO130001.01</td>
                            <td>大气动力学基础</td>
                            <td>吴志伟</td>
                            <td>星期二 4-5</td>
                            <td>大气与海洋科学系</td>
                            <td>JA306</td>
                            <td>论文 星期五[18]</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>ATMO130001.01</td>
                            <td>大气动力学基础</td>
                            <td>吴志伟</td>
                            <td>星期二 4-5</td>
                            <td>大气与海洋科学系</td>
                            <td>JA306</td>
                            <td>论文 星期五[18]</td>
                            <td>4</td>
                        </tr>
                        </tbody>
                    </table>
            </div>
        </div><!-- end of panel -->
    </div>
    <script>
        $(function(){
            getMyCourse();
        });
        function getMyCourse() {
            let html_course_str = '                        <tr>\n' +
                '                            <td>{course_id}.{section_id}</td>\n' +
                '                            <td>{title}</td>\n' +
                '                            <td>{instructor_name}</td>\n' +
                '                            <td>{time}/td>\n' +
                '                            <td>{dept_name}</td>\n' +
                '                            <td>{classroom_no}</td>\n' +
                '                            <td>{exam}</td>\n' +
                '                            <td>{credits}</td>\n' +
                '                        </tr>';
            let day2time = {'1': '星期一', '2': '星期二','3': '星期三','4': '星期四','5': '星期五','6': '星期六','7': '星期天'};
            let params = {'user_id': getCookie('user_id')};
            let html_course_tb_str = '{title}({course_id}.{section_id}) \n ({instructor_name})\n ({classroom_no})';
            $.when(getMyCourses(params))
                .done(function (res) {
                    console.log(res.status, res.data);
                    if(res.status === 200){
                        let html_courses = '';
                        for(let i=0; i < parseInt(res.data['total_num']); i++){
                            let section = res.data['sections'][i];
                            section['time'] = day2time[section['day']]  + '  ' + section['time'];
                            let html_section = html_course_tb_str.format(section);
                            html_courses += html_course_str.format(section);
                        }
                        console.log(html_courses);
                    }
                })
        }
    </script>
</div>