<script src="js/utils.js"></script>
<script src="js/router/root.router.js"></script>
<div class="container root-container" style="display: none">
    <div class="row">
        <div class="panel-group w-95">
            <div class="panel panel-primary">
                <div class="panel panel-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <a class="btn btn-success ml-20">批量导入</a>
                            <a class="btn btn-success  ml-20">确定导入</a>
                            <label class="ml-40 hover-underline">样例文件下载</label>
                        </div>
                    </form>
                </div>

            </div><!-- end of panel -->
        </div>

    </div>
    <div class="row">
        <div class="panel-group w-95">
            <div class="panel panel-primary">
                <div class="panel panel-body">
                    <form class="form-inline mb-10">
                        <div class="form-group">
                            <label class="ml-20">课程编号</label>
                            <input type="text" class="form-control" name="userName" placeholder="课程编号" >

                            <label class="ml-20">课程名</label>
                            <input type="text" class="form-control" name="name" placeholder="课程名">
                            <label class="ml-20">开课院系</label>
                            <input type="text" class="form-control" name="name" placeholder="开课院系">
                            <a class="btn btn-success ml-20">查 询</a>
                        </div>
                    </form>
                    <table class="table table-bordered table-hover table-check text-center">
                        <thead>
                        <tr class="success">
                            <th>课程编号</th>
                            <th>课程名</th>
                            <th>开课院系</th>
                            <th>学分</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>ATMO130001</td>
                            <td>大气动力学基础</td>
                            <td>大气与海洋科学系</td>
                            <td>4</td>
                            <td>
                                <a href="javascript:void(0)" class="selection hover-underline">修改</a>
                                <a href="javascript:void(0)" class="selection hover-underline">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td>ATMO130001</td>
                            <td>大气动力学基础</td>
                            <td>大气与海洋科学系</td>
                            <td>4</td>
                            <td>
                                <a href="javascript:void(0)" class="selection hover-underline">修改</a>
                                <a href="javascript:void(0)" class="selection hover-underline">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td>ATMO130001</td>
                            <td>大气动力学基础</td>
                            <td>大气与海洋科学系</td>
                            <td>4</td>
                            <td>
                                <a href="javascript:void(0)" class="selection hover-underline">修改</a>
                                <a href="javascript:void(0)" class="selection hover-underline">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <nav class="pull-right" id="pagination">
                    <ul class="pagination pagination-sm">
                        <li class="disabled">
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div><!-- end of panel -->
        </div>

        <script>
            $(function(){

            });
        </script>
    </div>
</div>